body 
{
    display: grid;
    grid-gap: 10px;
}
.Header {
    background-color: lightsteelblue;
    text-align: center;
    font-size: 3em;
    text-shadow: 3px 3px grey;
}

.Content
{
    background-color: lightblue;
    text-align:center;
    padding:10px;
    width: 80%;
    margin: auto;
}

.Footer
{
    background-color:lightsteelblue;
    text-align:center;
    padding:10px;
}
.divider
{
    padding:5px;
}
.Status
{
    background-color:lawngreen;
    text-align:left;
}